<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">

      <!-- We have applied bootsrap styles in below navbar by giving bootsrap classes -->
      <div class="menu">
        <div class="navbar-header">
          <h1 class="navbar-brand">DAILY JOURNAL</h1>
        </div>
        <div class="links">
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li class="link" id="home"><a href="/">HOME</a></li>
            <li class="link" id="about"><a href="/about">ABOUT US</a></li>
            <li class="link" id="contact"><a href="/contact">CONTACT US</a></li>
            <li class="compose" id="composeBlog"><a href="/compose">COMPOSE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<body>
  <div class="container">
    <div class="containerbody">